
.img-area-content {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: white;

    hr {
        border: 2px solid white;
        width: 50px;
        color: white;
    }
}


