
<!-- Top menu -->
<nav class="navbar navbar-dark fixed-top navbar-expand-md bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <span style="font-size: 25px; color: Tomato;">
                <i class="fab fa-python"></i> 
            </span> DjangoPro
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <a class="nav-link scroll-link" routerLink="dashboard" >
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
                <li class="nav-item">
                    <a class="nav-link scroll-link" routerLink="/" >Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



