
.navbar {
    margin-bottom: 250px;

    a {
        color: white;
    }

    li {
        
        a {
            color: white;
        }

        a:hover {
            color: grey;
        }
    }
}

